modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["freetype", "glibcLocales", "gumbo", "harfbuzz", "jbig2dec", "lcms2", "libimagequant", "libjpeg", "libjpeg_turbo", "libtiff", "libwebp", "libxcrypt", "mupdf", "openjpeg", "poppler", "poppler_utils", "swig", "tcl", "tk", "xcbuild", "zlib"]

[deployment]
deploymentTarget = "autoscale"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Streamlit App"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "streamlit_website"

[[workflows.workflow]]
name = "Streamlit App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py --server.port 5000"
waitForPort = 5000

[[workflows.workflow]]
name = "streamlit_website"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uv add PyPDF2"

[[ports]]
localPort = 5000
externalPort = 80
